/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* PAGE */

body {
	margin: 25px 0 0 0;
	background-color: #333;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #fff;
	font-size: 75px;
}

p {
	margin: 0;
	color: #fff;
	font-size: 20px;
}

/* TIC TAC TOE BOARD */

.tictactoe {
	width: 450px;
	margin: 15px auto 0 auto;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.line {
	display: flex;
}

.case {
	width: 150px; height: 150px;
	background-color: #4b4b4b;

	border: 1px solid #858585;

	color: #fff;
	line-height: 150px;
	text-align: center;
	font-family: 'Indie Flower', sans-serif;
	font-size: 100px;

	cursor: pointer;
}

.case:hover { background-color: #404040; }

#player { margin-top: 15px; }

/* END GAME POPUP */

.popup {
	display: none;
	position: relative;
	top: -500px;
	margin: 0 auto;
	padding: 5px 0 25px 0;
	box-shadow: 5px 5px 15px #000;

	color: #fff;
	font-size: 25px;

	transition: 0.5s;
}

.popup h2, .popup p { margin: 15px; }
.popup h2 { font-size: 50px; }

.popup a {
	padding: 5px 15px;

	border-radius: 5px;

	color: #fff;
	text-decoration: none;
}

#win-popup { background-color: #27ae60; }
#win-popup a { background-color: #248f51; border-bottom: 3px solid #1c693c; border-right: 3px solid #1c693c; }
#loose-popup { background-color: #e74c3c ; }
#loose-popup a { background-color: #cb4335; border-bottom: 3px solid #b03a2e; border-right: 3px solid #b03a2e; }
#equality-popup, #replay-popup { background-color: #3498db; }
#equality-popup a, #replay-popup a { background-color: #296d9b; border-bottom: 3px solid #1f5579; border-right: 3px solid #1f5579; }

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {

	h1 { font-size: 50px; user-select: none; }
	p { font-size: 18px; user-select: none; }
	.tictactoe { width: 300px; }

	.case {
		width: 100px; height: 100px;
		line-height: 100px;
	}

	.popup { top: -300px; }

}